* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	text-decoration: none;
}
.footer{
	display: flex;
	width: 100%;
	background: #EE3325;
	padding: 12px;
	justify-content: space-between;
}
@media (max-width: 768px){
	{
		display: flex;
	}
}
.footer__redballs-about-ourinformations{
	width: 97%;
	display: flex;
	justify-content: space-between;
/*	background-color: blue;*/
}
.footer__redballs{
	width: 239px;
	height: 243px;
	display: flex;
}
@media (max-width: 768px){
	{
		display: none;
	}
}
.footer__about{
	margin-top: 4%;
	margin-left: 4%;
	align-items: center;
	/*background-color: yellow;*/
	padding: 0px;
}
.footer__logoetext{
	display:flex;
	font-color: #fff;
}
.footer__logo{
	color: #fff;
}
.footer__location{
	width: 40vw;
	display: flex;
	color: #fff;
	margin-top: 10px;
}
.footer__location-endereço{
	display: flex;
	color: #fff;
}
.footer__contatos{
	display: flex;
	color: #fff;
}
.footer__contactinformation-cellphone{
	display: flex;
	color: #fff;
}
.footer__contactinformation-cell{
	color: #fff;
}
.footer__contact-information-pcell{
	font-family: Montserrat Alternates;
	color: #fff;
}
.contactinformation-email{
	display: flex;

}
.footer__contactinformations-pemail{
	font-family: Monserrat Alternates;
	color: #fff;
}
.footer__authorship{
	margin-top: 25px;
/*	background-color: green;*/
}
.footer__authorship-p{
	font-family: Monserrat Alternates;
	color: #00000069;
}
@media (max-width: 768px){
	{
		min-width: 160%;
	} 
}
.footer__ourinformations{
	display: flex;
	flex-direction: column;
	margin-top: 5px;
	line-height: 2;
	padding: 10px;
/*	background-color: gray;*/
}
.footer__ourinformations-p{
	color: #fff;
}
.footer__ourinformations-logo{
	margin-top: 40px;
} 
