* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	text-decoration: none;
}
.agency{
	display: flex;
	justify-content: space-around;
	padding: 50px 0 50px 0; 
	background-color: #F8F8F8;
}
@media screen and (max-width: 768px){
		.agency{
			flex-wrap: wrap;
		}
}
.agency__title{
	width:350px;
	font-size:35px;
	font-weight: bold;
	color:#EE3325;
	font-family:'Montserrat', sans-serif;
}
.agency__form{
	width: 200px;
	color:#6B6B6B;
}
.agency__label{
	font-size: 17px;
	font-weight:bold;
	font-family: 'Montserrat', sans-serif;
}
footer{
	padding: 10px;
	display: flex;
	background: #EE3325;
}
.footer__img-bolinhas{
	width: 239px;
	height: 228px;
	display: flex;
	background-color: blue;
}
.footer__about{
	width: 469px;
	height: 193px;
	margin-left: 30px;
	justify-content: flex-start;
	background-color: yellow;
	padding: 5px;
}

.footer__logoetext{
	display:flex;
	font-color: #fff;
}
.footer__logo{
	color: #fff;
}
.footer__location{
	display: flex;
	color: #fff;
}
.footer__location-endereço{
	display: flex;
	color: #fff;
}
.footer__contatos{
	display: flex;
	color: #fff;
}
.footer__contactinformation-cellphone{
	display: flex;
	color: #fff;
}
.footer__contactinformation-cell{
	color: #fff;
}
.footer__contact-information-pcell{
	color: #fff;
}
.contactinformation-email{

}
.footer__contactinformations-pemail{
	color: #fff;
}
.footer__authorship{
	background-color: green;
}